In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('data/Preference_Policy_Homeowners.xlsx')

In [8]:
df.shape

(76, 29)

In [5]:
df.head()

,Housing Client Race,Ethnicity,County of Purchase,Household MFI Level,First Mortgage Amount,1st Mortgage Lender,Interest rate,2nd Mortgage,2nd Mortgage Source,Down Payment Assistance Loan Amount,...,House Purchase Price,Housing Client Profile.Profile Return Date,Housing Counseling Client Profile.Settlement Date,Census Tract (Purchase),Role,Preference Policy Referrals.Program Committed to,Client Head Of Household Type,Total House Payment,HUD Client Income Level,Annual Gross Income (use most recent tax figures)
0,Black or African American,Not Hispanic,Multnomah,50 - 79% of AMI,222832,LoanDepot,2.500,NaN,NaN,"20000.00, 90000.00",...,325000,43677.0,43994,4.105100e+08,Preference Client - Rd 2,Prosper Portland,Other,1363.41,50 - 79% of AMI,54636.0
1,Black or African American and White,Not Hispanic,Multnomah,< 30% of AMI,137000,First Republic Bank,2.500,NaN,NaN,42909.23,...,191000,43663.0,44306,4.105100e+08,Preference Client - Rd 2,Habitat,Female-headed single parent household,1018.82,80 - 100% of AMI,75504.0
2,Black or African American,Not Hispanic,Multnomah,NaN,84850,First Republican Bank,2.500,98105.0,Habitat for Humanity,NaN,...,200000,43719.0,44455,4.105100e+08,"Preference Client - Rd 1, Preference Client - ...",Habitat,Single Adult,584.59,50 - 79% of AMI,38496.0
3,Black or African American,Not Hispanic,Multnomah,50 - 79% of AMI,257000,LoanDepot.com,2.625,NaN,NaN,"20000.00, 80000.00",...,347000,42097.0,43893,4.105100e+08,Preference Client - Rd 1,Inner N/NE DPAL,Female-headed single parent household,1313.94,50 - 79% of AMI,53580.0
4,American Indian or Alaska Native and Black or ...,Not Hispanic,Multnomah,50 - 79% of AMI,195000,loandepot.com,4.250,NaN,NaN,90000,...,285000,43578.0,43669,4.105101e+08,Preference Client - Rd 1,Citywide DPAL,Female-headed single parent household,1258.17,50 - 79% of AMI,43044.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 29 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Housing Client Race                                       75 non-null     object
 1   Ethnicity                                                 75 non-null     object
 2   County of Purchase                                        76 non-null     object
 3   Household MFI Level                                       70 non-null     object
 4   First Mortgage Amount                                     76 non-null     int64
 5   1st Mortgage Lender                                       76 non-null     object
 6   Interest rate                                             76 non-null     float64
 7    2nd Mortgage                                             3 non-null      float64
 8    2nd Mortgage Source                                      3 non-null      object
 9   Down Payment Assistance Loan Amount                       59 non-null     object
 10  Down Payment Source(s)                                    59 non-null     object
 11  First Grant Amount                                        42 non-null     float64
 12  First Grant Source                                        42 non-null     object
 13  Additional Grant Amounts                                  17 non-null     float64
 14  Subsequent Grant Source(s)                                17 non-null     object
 15  Customer Out of Pocket Costs                              73 non-null     float64
 16  Housing Counseling Client Profile.Hud Client New City     76 non-null     object
 17  Housing Counseling Client Profile.Hud Client New State    76 non-null     object
 18  Housing Counseling Client Profile.Hud Client New Zipcode  76 non-null     int64
 19  House Purchase Price                                      76 non-null     int64
 20  Housing Client Profile.Profile Return Date                75 non-null     float64
 21  Housing Counseling Client Profile.Settlement Date         76 non-null     int64
 22  Census Tract (Purchase)                                   76 non-null     float64
 23  Role                                                      76 non-null     object
 24  Preference Policy Referrals.Program Committed to          76 non-null     object
 25  Client Head Of Household Type                             75 non-null     object
 26  Total House Payment                                       76 non-null     float64
 27  HUD Client Income Level                                   75 non-null     object
 28  Annual Gross Income (use most recent tax figures)         75 non-null     float64
dtypes: float64(9), int64(4), object(16)
memory usage: 17.3+ KB

In [9]:
df.describe()

,First Mortgage Amount,Interest rate,2nd Mortgage,First Grant Amount,Additional Grant Amounts,Customer Out of Pocket Costs,Housing Counseling Client Profile.Hud Client New Zipcode,House Purchase Price,Housing Client Profile.Profile Return Date,Housing Counseling Client Profile.Settlement Date,Census Tract (Purchase),Total House Payment,Annual Gross Income (use most recent tax figures)
count,76.000000,76.000000,3.000000,42.000000,17.000000,73.000000,76.000000,76.000000,75.000000,76.000000,7.600000e+01,76.000000,75.000000
mean,234446.039474,2.838158,59968.333333,8992.736905,17478.782941,8279.536301,97211.197368,310941.394737,43537.186667,44016.447368,4.051052e+08,1425.754342,55088.058667
std,75661.766534,0.716013,36232.775333,8222.344819,19854.781076,17639.427164,35.528400,91738.362243,406.519296,283.744176,4.708360e+07,383.072987,15788.984887
min,74500.000000,2.100000,26000.000000,750.000000,3000.000000,113.170000,97007.000000,176000.000000,42097.000000,43343.000000,4.105100e+04,584.590000,11565.000000
25%,179500.000000,2.500000,40900.000000,3925.000000,9000.000000,1363.640000,97203.000000,200000.000000,43418.000000,43861.000000,4.105100e+08,1191.175000,43836.000000
50%,228250.000000,2.625000,55800.000000,6000.000000,15000.000000,3136.450000,97217.000000,325000.000000,43663.000000,43980.000000,4.105100e+08,1359.070000,53580.000000
75%,285793.250000,2.812500,76952.500000,14250.000000,15000.000000,7401.910000,97217.000000,380325.000000,43725.000000,44302.000000,4.105100e+08,1604.360000,65256.000000
max,402500.000000,5.750000,98105.000000,50000.000000,90000.000000,104639.970000,97267.000000,500000.000000,44146.000000,44467.000000,4.106703e+08,2892.010000,102852.000000